

.TeamTableRow {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.TeamTableRow .team-logo-name{
    height: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
}

.team-logo .team-logo-img{
    height: 30px;
    width: 30px;
    vertical-align: middle;
}

.TeamTableRow .team-stats{
    display: flex;
    align-items: center;
    gap: 13px;
    width: 90px;
}

.TeamTableRow .team-stats>div{
    width: 20px;
    text-align: center;

}

